:root {
    --bg-color: #181818;
    --inverted-bg-color: #090949;
    --primary-color: #FFFFFF;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
    --font-family-main: consolas, "Times New Roman", serif;
    --font-family-text-redesigned: 'Nunito Sans', sans-serif;
    --font-family-header-redesigned: 'Roboto', sans-serif;

    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // z - Индексы
    --modal-z-index: 1000;
    --overlay-z-index: 100;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
}